.featured-products{

    width:100%;

}

.featured-products table{

    width:100%;

    border-collapse:collapse;

    background:white;

}

.featured-products th{

    background:#0A66C2;

    color:white;

    padding:14px;

}

.featured-products td{

    padding:15px;

    border-bottom:1px solid #eee;

}

.product-image{

    width:70px;

    height:70px;

    object-fit:cover;

    border-radius:8px;

}

.order-input{

    width:70px;

    padding:6px;

}.featured-products{

    padding:20px;

}

.featured-products table{

    width:100%;

    border-collapse:collapse;

    background:white;

}

.featured-products th{

    background:#0A66C2;

    color:white;

    padding:14px;

    text-align:left;

}

.featured-products td{

    padding:15px;

    border-bottom:1px solid #ececec;

}

.product-image{

    width:70px;

    height:70px;

    object-fit:cover;

    border-radius:8px;

}

.order-input{

    width:70px;

    padding:8px;

}